{% extends 'shared/base_outer.html' %}
{% load static %}

{% block title %}Login - Service Front{% endblock %}

{% block content %}
<section class="d-flex">
    <div class="container">
        <div class="d-flex">
            <form method="post" class="d-flex w-100 justify-content-center">
                {% csrf_token %}
                <div class="col-lg-5 col-md-5 col-sm-6 mb-4 py-4 px-5 mt-5 shadow bg-white rounded border-light">
                    <h3 class="login_heading">Sign In</h3>
                    
                    {% if messages %}
                        <div class="my-3">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="login_form">
                        <div class="mb-3">
                            <label for="email" class="form-label p-0">Email <span class="text-danger">*</span></label>
                            <input type="email" name="email" required class="form-control fw-light" id="email" placeholder="Enter your email">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label p-0">Password <span class="text-danger">*</span></label>
                            <input type="password" name="password" required class="form-control fw-light" id="password" placeholder="Enter password">
                        </div>

                        <div class="login_group mb-3">
                            <button type="submit" class="btn btn-primary px-5">
                                Sign In
                            </button>
                        </div>

                        <hr>
                        <div class="login_group d-flex justify-content-between mt-3">
                            <a href="{% url 'new_account' %}" class="link-secondary">Create Account</a>
                            <a href="{% url 'forgot_password' %}" class="link-secondary">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
